spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=1

        - id: book-service
          uri: lb://BOOK-SERVICE
          predicates:
            - Path=/api/books/**
          filters:
            - StripPrefix=1

        - id: emprunt-service
          uri: lb://EMPRUNT-SERVICE
          predicates:
            - Path=/emprunts/**

eureka:
  client:
    service-url:
      defaultZone: http://eureka-service:8761/eureka

server:
  port: 9999
